.container {
    padding: 20px;
    background-color: #eee;
    margin: 10%;
    width: 60%;
}
.head {
    font-size: 36px;
    font-weight: bolder;
    padding: auto 10px;
    color: rgb(26, 141, 194);
}