body {
  background-image: url("assets/images/background.jpg") ;
  /* background: 
    radial-gradient(
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.15) 30%,
        rgba(255, 255, 255, 0.3) 32%,
        rgba(255, 255, 255, 0) 33%
      )
      0 0,
    radial-gradient(
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.1) 11%,
        rgba(255, 255, 255, 0.3) 13%,
        rgba(255, 255, 255, 0) 14%
      )
      0 0,
    radial-gradient(
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.2) 17%,
        rgba(255, 255, 255, 0.43) 19%,
        rgba(255, 255, 255, 0) 20%
      )
      0 110px,
    radial-gradient(
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.2) 11%,
        rgba(255, 255, 255, 0.4) 13%,
        rgba(255, 255, 255, 0) 14%
      ) -130px -170px,
    radial-gradient(
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.2) 11%,
        rgba(255, 255, 255, 0.4) 13%,
        rgba(255, 255, 255, 0) 14%
      )
      130px 370px, 
    radial-gradient(
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.1) 11%,
        rgba(255, 255, 255, 0.2) 13%,
        rgba(255, 255, 255, 0) 14%
      )
      0 0, 
       linear-gradient(
    45deg,
    #0b1284,
    #1971b9
   
  );
  background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px,
    530px 530px, 730px 730px, 100% 100%;
  background-color: #840b2a; */
}
button {
  margin-top: 10px;
}
figure {
  text-align: center;
}
nav {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* border: white solid 1px; */
}

.container {
  padding: 20px;
  background-color: #eee;
  margin: 10%;
  width: 60%;
  border-radius: 10px;
  /* box-shadow: grey 5px 10px; */
}

#headshot {
  width: 200px;
  height: auto;
}
#linksContainer {
  all: none;
  margin: auto;
}
#resume {
  font-size: large;
}
#linkedIn {
  font-size: large;
}
#github {
  font-size: large;
}

/* styling for xs screens */
@media screen and (max-width: 440px) {
  .container {
    width: 100%;
    margin: 10% auto;
  }
}
